* {
	margin: 0px;
	padding: 0px;
}

a,.tblock{
	transition: .2s all linear;
}

body {
	overflow-y: scroll !important;
	background-color: #eee;
}

.bg {
	position: fixed;
	z-index: -10;
}

.page {
	max-width: 1052px;
	padding-bottom: 16%;
	width: 78%;
	margin: 0 auto;
}

p {
	font-family: Arial;
	color: #494949;
}